<md-content>
    <div flex>
        <div layout="column" class="destination-thumbnails-container">
            <div layout="row" layout-align="center center" class="top ptw-default-theme-secondary">
                <h1 class="md-title">Images</h1>
            </div>
            <div layout="column" class="middle">
                <div class="textarea" layout="column">
                    <div>
                        <a href="" ng-click="addImage()">Add image</a>
                    </div>
                    <div>
                        <table>
                            <tr ng-repeat="image in images">
                                <!--<td><a href="" ui-sref=".image({imageId: image._id})">{{image.original.name}}</a></td>-->
                                <td><img class="thumbnail" ng-src="{{url(image, 'images')}}"></td>
                                <td><button ng-click="removeImage(image)">X</button></td>
                            </tr>
                        </table>
                        <input type="file" id="upload-file">
                    </div>

                </div>
            </div>
        </div>


    </div>
</md-content>